Here we will build prediction model based on the data produced at the ETL stage. We will compare:
- baseline, which will be a linear model based on 1 feature "number_of_panels_total"
- linear model with all the rest features
- linear model with features produced by one layer MLP
- random forest
- adaboost
- xgboost

In [1]:
import pandas as pd

# Data initiation

In [3]:
df = pd.read_csv('datasets/modeling_df.csv')
df.head()

,lat_max,lat_min,long_max,long_min,number_of_panels_north,number_of_panels_south,number_of_panels_east,number_of_panels_west,number_of_panels_flat,number_of_panels_total,...,zip_area,dens,approx_zips,is_usa,zip_lat,zip_long,state_size,state_lat,state_long,potential_kwh_total
0,38.926739,38.889445,-38.476980,-38.505980,5.148,6.0670,10.013,6.5933,93.6012,34.5286,...,51.081516,33.797548,20,True,38.91,-38.490,1.185854,38.892432,-38.514054,52.766810
1,38.891747,38.864037,-38.485306,-38.506542,4.635,4.7155,6.547,5.8681,30.2565,12.6761,...,50.588451,12.528650,20,True,38.88,-38.495,1.185854,38.892432,-38.514054,19.236490
2,38.929108,38.891081,-38.504616,-38.513976,7.701,4.2870,7.342,6.2461,40.2030,16.1416,...,50.355929,16.027507,20,True,38.91,-38.510,1.185854,38.892432,-38.514054,24.398000
3,38.937703,38.928337,-38.506722,-38.523478,8.640,3.4780,4.178,2.7930,27.0777,10.8263,...,50.156941,10.792424,20,True,38.93,-38.515,1.185854,38.892432,-38.514054,16.425856
4,38.969417,38.932795,-38.494270,-38.523692,32.625,25.9095,25.019,18.9700,71.2395,35.2278,...,51.077477,34.484671,20,True,38.95,-38.510,1.185854,38.892432,-38.514054,53.499693